
.city-map {
  -webkit-position: sticky;
  position: sticky !important;
  top: 20%;
  bottom: auto;
}


.city-map img {
    position: absolute;
    z-index: -1;
}

#percorso-svg {
    position: relative;
}

.cls-1 {
	fill: none;
	stroke: #E43F5A;
	stroke-miterlimit: 10;
	stroke-width: 3px;
    z-index: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.card-map-left {
border-radius: 5px;
background-color: rgba(0, 0, 0, 0.5);
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
margin-bottom: 100vh;
box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.card-map-right {
border-radius: 5px;
background-color: rgba(0, 0, 0, 0.500);
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
margin-bottom: 100vh;
box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.card-map-last {
border-radius: 5px;
background-color: rgba(0, 0, 0, 0.500);
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
margin-bottom: 50vh;
box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.25);
}

.card-body {
    padding: 10px 10px 10px 10px;
}


.card-subtitle {
    opacity: 1;
    color: white;
}

.card-title {
    font-family: "glacialindifference", sans-serif;
    color: white;
}

.card-text {
    color: white;
}

