.timeline-item {
    position: relative;
    color: rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
}

.timeline-item h3 {
    padding-left: 1rem;
}

.timeline-item p {
    padding-left: 1rem;
}

/* per il numero */

.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: -4rem;
    font-weight: bold;
    top: 0.8em;
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
}

@media screen and (max-width: 992px) { 
    .timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 1rem;
    font-weight: bold;
    top: -1.5rem;
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    }
}

/* per il titolo */

.timeline-item::after {
    width: 15px;
    height: 15px;
    display: block;
    top: 1.6em;
    position: absolute;
    left: -8.5px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgb(255, 255, 255);
    background: white;
}

.timeline-item:last-child {
    -o-border-image: linear-gradient(to bottom, rgb(255, 255, 255) 60%, transparent) 1 100%;
    border-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 60%, transparent) 1 100%;
    border-image: linear-gradient(to bottom, rgb(255, 255, 255) 60%, transparent) 1 100%;
}

.text-shadow-komponist {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.754);
}

.text-justify {
  text-align: justify;
}

.text-box-img {
  padding: 16px !important;
  margin-bottom: 0px !important;
}

.more-info {
    opacity: 0.2;
    transition: opacity 0.5s;
}

.with-more-info:hover + .more-info {
  	opacity: 1;
}
